@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/navigation";
/* =========================
   SWIPER CLEAN SAFE STYLES
   ========================= */

/* allow side slides visible */
.swiper {
  overflow: visible !important;
}

/* center slides nicely */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* remove default arrows if present */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

/* remove pagination dots if not needed */
.swiper-pagination {
  display: none !important;
}
