@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Marquee animation */
.marquee {
  display: flex;
  width: max-content;
  animation: scroll-left 25s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}



@layer components {
  .btn-primary {
    @apply bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded-lg shadow transition;
  }

  .btn-secondary {
    @apply bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded-lg transition;
  }

  .card-base {
    @apply bg-white rounded-xl shadow-sm hover:shadow-md transition;
  }
}





