@import "tailwindcss";

.input {
  @apply w-full p-3 border rounded mb-4;
}

.btn-primary {
  @apply bg-blue-600 text-white py-2 rounded hover:bg-blue-700;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-track {
  width: max-content;
  animation: marquee 25s linear infinite;
}

/* Pause on hover */
.marquee-track:hover {
  animation-play-state: paused;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700 text-white rounded-xl transition duration-200;
}

.btn-secondary {
  @apply bg-green-600 hover:bg-green-700 text-white rounded-xl transition duration-200;
}

.btn-warning {
  @apply bg-yellow-400 hover:bg-yellow-500 text-black rounded-full font-semibold transition duration-200;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

